*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #607EAA;
}
h1{
    color: #F9F5EB;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
#div-main{
    background-color: red;
    margin-top: 4em;
    padding: 1em;
    width: 50%;
    max-width: 38em;
}
#div-form{
    display: flex;
    align-items: center;
    gap: .5em;
    margin-bottom: 2em;
}
#to-do{
    width: 80%;
}
#add{
    width: 20%;
    cursor: pointer;
}
#div-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.div-content{
    width: 80%;
}
.div-checkbox{
    width: 1.3em;
    height: 1.3em;
    border-radius: 3px;
    background-color: #F9F5EB;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
.div-checkbox:hover{
    background-color: #ddd9d4;
    cursor: pointer;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: gray;
    padding-bottom: 1em;
}

.div-info{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 500ms;
    border-radius: 100%;
}
.div-info:hover{
    background-color: rgba(128, 128, 128, 0.50);
    cursor: pointer;
}
